*{
    margin:0;padding:0
}
img{
    height:100vh;width:100vw

}
.carrossel{
    overflow:hidden;
    height:100vh;
    width:100vw
}
.carrossel ul{
    display:flex;
    list-style:none;
    width:900vw;
    height:100vh
}
.carrossel li{
    position:relative;
    animation:slide 200s infinite ease-in-out
}
@keyframes slide
{0%{left:0}20%{left:0}
30%{left:-100vw}50%{left:-100vw}
60%{left:-200vw}80%{left:-200vw}
90%{left:-300vw}120%{left:-300vw}
130%{left:-400vw}160%{left:-400vw}
170%{left:-500vw}190%{left:-500vw}
180%{left:-600vw}200%{left:-600vw}
210%{left:-700vw}230%{left:-700vw}
240%{left:-800vw}260%{left:-800vw}
270%{left:-900vw}290%{left:-900vw}}
