*{
    margin:0;padding:0
}
img{
    height:100vh;width:100vw

}
.carrossel{
    overflow:hidden;
    height:100vh;
    width:100vw
}
.carrossel ul{
    display:flex;
    list-style:none;
    width:200vw;
    height:100vh
}
.carrossel li{
    position:relative;
    animation:slide 20s infinite ease-in-out
}
@keyframes slide
{0%{left:0}20%{left:0}30%{left:-100vw}50%{left:-100vw}70%{left:-200vw}80%{left:-200vw}}